[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
spacy = "*"
beautifulsoup4 = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
sentence-transformers = "*"
psycopg2-binary = "*"
tqdm = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.12"
